.au_container {
    text-align: center;
}
.au_container h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}
.form {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form input {
    /* text-align: center; */
    width: 280px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form button {
    width: 100%;
    padding: 10px;
    margin: 18px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #94c748;
    cursor: pointer;
    font-weight: 700;
}
.form a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form .error {
    color: red;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 18px;
}
