.header {
    /* max-width: 60rem; */
    /* margin: auto; */
    /* display: flex; */
    /* padding: 2rem; */
    /* justify-content: space-between; */
    background-color: #2e1b5d;
}

.list {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-end;
}

.list a {
    text-decoration: none;
    color: white;
}

.list a:hover,
.list a.active {
    color: #0f8ea7;
}
