.header {
    background-color: #2e1b5d;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.list {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-end;
}

.list a {
    text-decoration: none;
    color: white;
}

.list a:hover,
.list a.active {
    color: #94c748;
}
.user {
    background-color: #00a4bf;
    /* border: 1px solid #0cf; */

    padding: 3px 4px;
    border-radius: 45%;
}
.logout {
    cursor: pointer;
}
