.column_delete_icon {
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
}
.board_header_container {
    display: flex;
    background-color: #00791f;
    padding: 0.6rem;
    align-items: center;
}
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: flex-start;
    background-color: #f0791f;
    gap: 1rem;
}
.column {
    border-radius: 5px;
    padding: 1rem;
    background: #4bce97;
    color: white;
}
