.dialog {
    width: 400px;
    height: 260px;
    border: none;
    background-color: #9f90ef;
    border-radius: 5px;
    font-size: 1.2em;
}
.flex_container {
    /* display: block; */
}
.first_row {
    display: flex;
    justify-content: space-between;
}
.second_row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.third_row {
    display: flex;
    justify-content: space-between;
}
.des_label {
    color: #fff;
}
.icon_trash {
    margin-left: -10em;
    margin-top: 3px;
}
.icon {
    cursor: pointer;
}
.option {
    /* font-size: 1.1em; */
}
