html {
    height: 100%;
    background: linear-gradient(45deg, #291a78, #92326e);
}
#root {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.flex_ {
    display: flex;
    gap: 2rem;

    min-height: 20vh;
}
.flex-item {
    flex-basis: 200px; /* sets the initial width of the item */
}

a {
    text-decoration: none;
    color: #ffffff;
}
.inline-form-container {
    width: 180px;
    /* border: 1px solid #ffffff;
    border-radius: 4px;
    padding-left: 0.5rem; */
}
